span.filters {
  background: url(../../assets/img/svg/preferences.svg) 0% 0% no-repeat padding-box;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: .5rem;
}

span.product {
  background: url(../../assets/img/svg/product.svg) 0% 0% no-repeat padding-box;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: .5rem;
}