span.filters {
  background: url(../../assets/img/svg/preferences.svg) 0% 0% no-repeat padding-box;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: sub;
  margin-right: .5rem;
}

span.product {
  background: url(../../assets/img/svg/product.svg) 0% 0% no-repeat padding-box;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: .5rem;
}

span.save {
  background: url(../../assets/img/svg/save.svg) 0% 0% no-repeat padding-box;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: .5rem;
}

span.send {
  background: url(../../assets/img/svg/send.svg) 0% 0% no-repeat padding-box;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: .5rem;
}

span.arrow-right {
  background: url(../../assets/img/svg/arrow-right.svg) 0% 0% no-repeat padding-box;
  background-size: contain;
  position: absolute;
  z-index: 1;
  display: block;
  top: 45%;
  right: -3rem;
  cursor: pointer;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: .5rem;
}

span.arrow-left {
  background: url(../../assets/img/svg/arrow-left.svg) 0% 0% no-repeat padding-box;
  background-size: contain;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  display: block;
  top: 45%;
  left: -3rem;
  width: 64px;
  height: 64px;
  margin-right: .5rem;
}

span.home {
  background: url(../../assets/img/svg/home.svg) 0% 0% no-repeat padding-box;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

span.next {
  background: url(../../assets/img/svg/next.svg) 0% 0% no-repeat padding-box;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
