<header>
  <div class="navbar bg-light border-bottom position-relative" style="height: 60px !important;">

  </div>
  <div class="bg-light sticky-top border-bottom mb-3 px-4 py-2">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col">
          <div class="dropdown">
            <button type="button" class="btn btn-xl btn-primary float-left dropdown-toggle d-none d-md-block"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                class="filters"></span>
              Filters
            </button>

            <button type="button" class="btn btn-primary float-left dropdown-toggle d-md-none" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="filters"></span>
            </button>

            <div class="dropdown-menu p-0 m-0 border-0">
              <form class="">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                  <!-- Accordion card -->
                  <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                        aria-controls="collapseOne1">
                        <h5 class="mb-0">
                          Categories <i class="float-right fa fa-caret-down" aria-hidden="true"></i>
                        </h5>
                      </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                      data-parent="#accordionEx">
                      <div class="p-4">
                        <div class="custom-control custom-switch mb-2">
                          <input type="checkbox" class="custom-control-input" id="categoriesSwitch1">
                          <label class="custom-control-label" for="categoriesSwitch1">Category 1</label>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                          <input type="checkbox" class="custom-control-input" id="categoriesSwitch2">
                          <label class="custom-control-label" for="categoriesSwitch2">Category 2</label>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                          <input type="checkbox" class="custom-control-input" id="categoriesSwitch3">
                          <label class="custom-control-label" for="categoriesSwitch3">Category 3</label>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- Accordion card -->

                  <!-- Accordion card -->
                  <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo2">
                      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="true"
                        aria-controls="collapseTwo2">
                        <h5 class="mb-0">
                          Filter 1 <i class="float-right fa fa-caret-down" aria-hidden="true"></i>
                        </h5>
                      </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseTwo2" class="collapse " role="tabpanel" aria-labelledby="headingTwo2"
                      data-parent="#accordionEx">
                      <div class="p-4">
                        <div class="custom-control custom-switch mb-2">
                          <input type="checkbox" class="custom-control-input" id="categoriesSwitch1">
                          <label class="custom-control-label" for="categoriesSwitch1">Filter 1</label>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                          <input type="checkbox" class="custom-control-input" id="categoriesSwitch2">
                          <label class="custom-control-label" for="categoriesSwitch2">Filter 2</label>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                          <input type="checkbox" class="custom-control-input" id="categoriesSwitch3">
                          <label class="custom-control-label" for="categoriesSwitch3">Filter 3</label>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- Accordion card -->

                  <!-- Accordion card -->
                  <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingThree3">
                      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="true"
                        aria-controls="collapseThree3">
                        <h5 class="mb-0">
                          Filter 2 <i class="float-right fa fa-caret-down" aria-hidden="true"></i>
                        </h5>
                      </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseThree3" class="collapse " role="tabpanel" aria-labelledby="headingThree3"
                      data-parent="#accordionEx">
                      <div class="p-4">
                        <div class="custom-control custom-switch mb-2">
                          <input type="checkbox" class="custom-control-input" id="categoriesSwitch1">
                          <label class="custom-control-label" for="categoriesSwitch1">Filter 1</label>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                          <input type="checkbox" class="custom-control-input" id="categoriesSwitch2">
                          <label class="custom-control-label" for="categoriesSwitch2">Filter 2</label>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                          <input type="checkbox" class="custom-control-input" id="categoriesSwitch3">
                          <label class="custom-control-label" for="categoriesSwitch3">Filter 3</label>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- Accordion card -->

                  <!-- Accordion card -->
                  <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingFour4">
                      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4" aria-expanded="true"
                        aria-controls="collapseFour4">
                        <h5 class="mb-0">
                          Filter 3 <i class="float-right fa fa-caret-down" aria-hidden="true"></i>
                        </h5>
                      </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseFour4" class="collapse " role="tabpanel" aria-labelledby="headingFour4"
                      data-parent="#accordionEx">
                      <div class="p-4">
                        <div class="custom-control custom-switch mb-2">
                          <input type="checkbox" class="custom-control-input" id="categoriesSwitch1">
                          <label class="custom-control-label" for="categoriesSwitch1">Filter 1</label>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                          <input type="checkbox" class="custom-control-input" id="categoriesSwitch2">
                          <label class="custom-control-label" for="categoriesSwitch2">Filter 2</label>
                        </div>
                        <div class="custom-control custom-switch mb-2">
                          <input type="checkbox" class="custom-control-input" id="categoriesSwitch3">
                          <label class="custom-control-label" for="categoriesSwitch3">Filter 3</label>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- Accordion card -->
                </div>
                <!-- Accordion wrapper -->
                <div class="dropdown-divider"></div>
                <div class="card">
                  <div class="container my-2">
                    <div class="row flex justify-content-center">
                      <div class="col-6">
                        <button type="reset" style="width: 100%;" class="btn btn-lg btn-primary">Reset</button>
                      </div>
                      <div class="col-6">
                        <button type="button" style="width: 100%;" class="btn btn-lg btn-outline-secondary"
                          data-dismiss="modal" data-toggle="dropdown">Close</button>
                      </div>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col justify-content-end">
          <button type="button" class="btn btn-fixed btn-xl btn-primary float-right dropdown-toggle d-none d-md-block"
            data-toggle="modal" data-target="#priceModal">
            Total: <b>$2509</b>
          </button>
          <button type="button" class="btn btn-fixed btn-primary float-right dropdown-toggle d-md-none"
            data-toggle="modal" data-target="#priceModal">
            Total: <b>$2509</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>