<div class="row">
  <div class="col-lg-12 px-0">
    <button type="button" class="btn btn-lg btn-primary float-left"><span class="filters"></span> Filters</button>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-lg btn-primary float-right" data-toggle="modal" data-target="#priceModal">
      Total: <b>$2509</b>
    </button>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
          <table class="table bg-light">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Discount</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
          </table>
      </div>
      <div class="modal-body">

        <table class="table">

          <tbody>

            <div class="col-12">
              <h4><span class="product"></span>Category 1</h4>
            </div>

            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Simon</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Simon</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>Simon</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>