{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">

<head>
	{{!— Required meta tags --}}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Quote Tool</title>
	<link rel="stylesheet" href="{{root}}assets/css/app.css">
	<link rel="stylesheet" href="{{root}}assets/vendor/swiper/dist/css/swiper.css">

	<!-- Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	{{> header}}

	<main role="main" class="container-fluid px-lg-5 px-md-5 px-sm-2 px-2 mb-5">
		<!-- Modal -->
		<div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
				<div class="modal-content">


					<div class="modal-header">
						<h5 class="modal-title" id="priceModalTitle">Price</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>


					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col p-0 m-0">
									<div class="">
										<table class="table table-sm table-borderless">
											<thead>
												<tr>
													<th scope="col">Product</th>
													<th scope="col">Quantity</th>
													<th scope="col">Price</th>
													<th scope="col">Discount</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td colspan="5">
														<div class="col-12 mb-3 mt-5">
															<h4><span class="product"></span>Category 1</h4>
														</div>
													</td>
												</tr>
												<tr class="table-active">
													<td>Product</td>
													<td>5</td>
													<td>100$</td>
													<td>10%</td>
													<td>3200$</td>
												</tr>
												<tr style="height: .5rem;"></tr>
												<tr class="table-active">
													<td>Product</td>
													<td>5</td>
													<td>100$</td>
													<td>10%</td>
													<td>3200$</td>
												</tr>
												<tr style="height: .5rem;"></tr>
												<tr class="table-active">
													<td>Product</td>
													<td>5</td>
													<td>100$</td>
													<td>10%</td>
													<td>3200$</td>
												</tr>
												<tr>
													<td colspan="5">
														<div class="col-12 mb-3 mt-5">
															<h4><span class="product"></span>Category 1</h4>
														</div>
													</td>
												</tr>
												<tr class="table-active">
													<td>Product</td>
													<td>5</td>
													<td>100$</td>
													<td>10%</td>
													<td>3200$</td>
												</tr>
												<tr style="height: .5rem;"></tr>
												<tr class="table-active">
													<td>Product</td>
													<td>5</td>
													<td>100$</td>
													<td>10%</td>
													<td>3200$</td>
												</tr>
												<tr style="height: .5rem;"></tr>
												<tr class="table-active">
													<td>Product</td>
													<td>5</td>
													<td>100$</td>
													<td>10%</td>
													<td>3200$</td>
												</tr>
												<tr>
													<td colspan="5">
														<div class="col-12 mb-3 mt-5">
															<h4><span class="product"></span>Category 1</h4>
														</div>
													</td>
												</tr>
												<tr class="table-active">
													<td>Product</td>
													<td>5</td>
													<td>100$</td>
													<td>10%</td>
													<td>3200$</td>
												</tr>
												<tr style="height: .5rem;"></tr>
												<tr class="table-active">
													<td>Product</td>
													<td>5</td>
													<td>100$</td>
													<td>10%</td>
													<td>3200$</td>
												</tr>
												<tr style="height: .5rem;"></tr>
												<tr class="table-active">
													<td>Product</td>
													<td>5</td>
													<td>100$</td>
													<td>10%</td>
													<td>3200$</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<ul class="list-group mb-2">
										<li class="list-group-item d-flex justify-content-between">
											<span>Total (USD)</span>
											<strong>$20</strong>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>


					<div class="modal-footer">
						<div class="container">
							<div class="row mb-3">
								<div class="col-12">
									<label for="address">Address</label>
									<input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
									<div class="invalid-feedback">
										Please enter your shipping address.
									</div>
								</div>
							</div>
							<div class="row flex justify-content-center justify-content-md-end">
								<button type="button" class="mr-3 btn btn-outline-secondary d-none d-md-block"
									data-dismiss="modal">Close</button>


								<button type="button" class="mr-3 btn btn-lg btn-primary d-none d-md-block"><span class="save"></span>
									Save</button>
								<button type="button" class="mr-3 btn btn-primary d-md-none"><span class="save"></span> Save</button>
								<button type="button" class=" btn btn-lg btn-primary d-none d-md-block"><span class="send"></span>
									Send</button>

								<button type="button" class=" btn btn-primary d-md-none"><span class="send"></span> Send</button>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
		{{> body}}
	</main>
	{{> mobile-nav}}
	{{> footer}}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="{{root}}assets/vendor/bootstrap-input-spinner/src/bootstrap-input-spinner.js">
	</script>
	<!-- <script type="text/javascript" src="{{root}}assets/js/vendor/slick-carousel/slick/slick.js"></script> -->
	<script type="text/javascript" src="{{root}}assets/vendor/swiper/dist/js/swiper.min.js"></script>
	<script src="{{root}}assets/js/app.js"></script>
	<script>
		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 5.35,
			freeMode: true,
			pagination: {
				el: '.swiper-pagination',
				type: 'bullets',
				clickable: true,
				dynamicBullets: true,
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
			breakpoints: {
				1600: {
					slidesPerView: 4.35,
				},
				1200: {
					slidesPerView: 3.35,
				},
				992: {
					slidesPerView: 2.35,
				},
				768: {
					slidesPerView: 2.35,
				}
			}
		});
	</script>
</body>

</html>